:root {
  --white: #ffffff;
  --primaria: #007bff;
  --escura: #0165cf;
}

html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  gap: 20px;
}

h1,
h2,
h3,
h4 {
  color: var(--primaria);
  margin-bottom: 1rem;
}

.menu-btn {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #007bff;

}

.menu-btn:focus {
  background-color: var(--white);
}
/* Esconde o menu por padrão */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
.show {
  display: block;
}
.btn {
  border-radius: 25px;
  background-color: var(--primaria);
  color: var(--white);
  font-weight: bold;
  padding: 1rem;
}

button:hover {
  background-color: var(--escura);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#home,
#nivel {
  max-width: 760px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

#iniciante,
#intermediario,
#avancado {
  max-width: 760px;
  height: auto;
  margin: 2rem auto;
  padding: 2rem;
}

#nivel,
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home h1 {
  margin-bottom: 3rem;
}
#home button {
  margin: 2rem;
}

#nivel .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#nivel .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  border-radius: 25px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: var(--white);
    margin: 50% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}
.exercicio-card {
  border-radius: 25px;
  overflow: hidden;
  padding: 1rem 0.7rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.342);
  text-align: center;
}
.video {
  border-radius: 20px;
  overflow: hidden;
}

.footer {
  background-color: rgb(214, 214, 214);
  color: #000;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer a {
  color: var(--primaria);
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}

.footer a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .menu-btn {
    display: none;
  }
  .menu {
    display: flex;
  }
 .cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }
}
